<div class="login-container">
  <form
    fxLayout="column"
    fxLayoutAlign="space-around"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    novalidate
  >
    <mat-form-field>
      <input matInput placeholder="Username" formControlName="username" />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" formControlName="password" />
    </mat-form-field>
    <div fxLayout="row" fxLayoutGap="25px">
      <button type="submit" mat-raised-button>Login</button>
      <button mat-raised-button (click)="resetForm()">Cancel</button>
    </div>
  </form>
</div>
